<doctype html>
<title>Add User</title>
<h2>Add User</h2>
<form method="post" action="/add-user">
    <dl>
        <p>
            <input name="username" value="" type="text" 
                placeholder="Username" autocomplete="off" required>
        </p>
        <p>
            <input name="email" value="" type="text" 
                placeholder="Email" autocomplete="off" required>
        </p>
        <p>
            <input name="password" value="" type="password"
                placeholder="Password" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>