<doctype html>
    <title>Add Question</title>
    <h2>Add Question</h2>
    <form method="post" action="/add-question">
        <dl>
            <p>
                <input name="question" value="" type="text" 
                    placeholder="Question" autocomplete="off" required>
            </p>
            <p>
                <input name="category" value="" type="text" 
                    placeholder="Category" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>