<doctype html>
    <title>Edit Question</title>
    <h2>Edit Question</h2>
    <form method="post" action="/update-question">
        <dl>
            <p>
                <input name="description" value="{{ row['question_text'] }}"
                    type="text" placeholder="Question" autocomplete="off">
            </p>
            <p>
                <input name="category" value="{{ row['category_id'] }}" 
                    type="number" placeholder="Category" autocomplete="off">
            </p>
        </dl>
        <p>
            <input name="id" value="{{ row['question_id'] }}" type="hidden">
            <input type="submit" value="Submit">
        </p>
    </form>